<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Editing Images</h1>
        </header>
        <h2>Image 1</h2>
        <img src="images/apples.jpg" alt="basket with apples">
        <img src="images/apples-cropped.jpg" alt="edited apple photo">
        <h2>Image 2</h2>
        <img src="images/birds.jpg" alt="geese">
        <img src="images/birds-edited.jpg" alt="edited geese photo">
        <h2>Image 3</h2>
        <img src="images/cows.jpg" alt="cows">
        <img src="images/cows-edited.jpg" alt="edited cow photo">
        <h2>Image 4</h2>
        <img src="images/field.jpg" alt="field">
        <img src="images/field-edited.jpg" alt="edited field photo">
        <h2>Image 5</h2>
        <img src="images/landscape.jpg" alt="landscape">
        <img src="images/landscape-edited.jpg" alt="edited landscape photo">
    </div>

</body>

</html>